<!-- Header Material -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/stylesheet.css">

    <title>HeroDB</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">HeroDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item">
                    <a class="nav-link nav-log-sighting" href="/sightings/new">Log a Sighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-heropedia" href="/sightings/heroes">Heropedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-villainpedia" href="/sightings/villains">Villainpedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-powers" href="/sightings/powers">Powers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-organizations" href="/sightings/organizations">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-sightings" href="/sightings/">All Sightings</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="d-flex flex-column align-items-end">
            <a href="/deletePower/number" id="deleteButton">
                <!--Make this work-->
                <button type="button" class="btn btn-danger" style="margin-top: 1em">DELETE SIGHTING</button>
            </a>
            <header class="align-self-center">
                <h1 class="mx-auto">HeroDB</h1>
                <h5 class="mx-auto">The latest, now.</h3>
            </header>
            <!-- End Header -->
            <!-- Main Body of Page -->
        </div>
        <form class="form">
            <div class="row">
                <div class="col-sm-2"></div>
                <h5 class="col-sm-4">Enter Sighting Details</h5>
                <h5 class="col-sm-4">Heroes/Villains at Sighting</h5>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="date" class="col-sm-4 col-form-label">Sighting Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="locationSelect" class="col-sm-4 col-form-label">Location</label>
                        <div class="col-sm-8">
                            <select type="text" class="form-control" id="locationSelect" placeholder="Select Location">
                                <option value="" selected disabled>Select Location</option>
                                <option value="1">U.A. High School</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sightingDescription" class="col-sm-4 col-form-label">Sighting
                            Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="sightingName" placeholder="Sighting Description"
                                rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div> <!-- End first form column -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="currentHeroes" rows="5">
                                <option value="1">Froppy</option>
                                <option value="2">Midoriya</option>
                                <option value="3">All Might</option>
                                <option value="4">Uravity</option>
                            </select>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary ml-auto mr-1 updownbtn" onclick="addHero()" type="button"
                                    style="margin-top:1em">
                                    <span class="fas fa-angle-up"></span>
                                </button>
                                <button class="btn btn-primary mr-auto ml-2 updownbtn" onclick="removeHero()"
                                    type="button" style="margin-top:1em">
                                    <span class="fas fa-angle-down"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em">
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="heroRoster" rows="5">
                                <option value="5">Headphone Jack</option>
                                <option value="6">Eraser</option>
                                <option value="7">Mr Icy Hot</option>
                                <option value="8">Rich Girl</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <h5 class="col-sm-12">Known Heroes/Villains</h5>
                    </div>
                </div>
            </div>

        </form>
    </div> <!-- Close container -->
    <!-- End Main Body -->

    <!-- Footer Material -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="scripts/scripts.js"></script>
</body>

</html>
<!-- End footer -->