<!-- Header Material -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>HeroDB</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">HeroDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item">
                    <a class="nav-link nav-log-sighting" href="/sightings/new">Log a Sighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-heropedia" href="/heroes">Heropedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-villainpedia" href="/villains">Villainpedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-powers" href="/powers">Powers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-organizations" href="/organizations">Organizations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-sightings" href="/sightings/">All Sightings</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container d-flex flex-column align-items-center" style="margin-top: 1em">
        <header>
            <h1 class="mx-auto">HeroDB</h1>
            <h5 class="mx-auto">The latest, now.</h3>
        </header>
        <!-- End Header -->
        <!-- Main Body of Page -->

        <div class="row mr-auto align-items-center">
            <h3>All Sightings</h3>
            <a class="mr-auto ml-1" href="#" th:href="@{/editSighting(id=$-1)}">(add a new sighting)</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Heroes/Villains Sighted</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tr class="expandable" th:each="sighting : ${sightings}">
                    <td th:text="${sighting.date}"></td>
                    <td>
                        <span th:text="${sighting.address.name}" class="shortText">U.A. High School</span>
                        <div class="longText selector">
                            <p th:text="${sighting.address.name}">U.A. High School</p>
                            <p th:text="${sighting.address.streetAddress}">123 Test Street</p>
                            <p th:text="${sighting.address.city} + ', ' + ${sighting.address.country}">Tokyo, Japan</p>
                            <p th:text="${sighting.address.latitude}">Latitude: 100</p>
                            <p th:text="${sighting.address.longitude}">Longitude: 100</p>
                            <hr>
                            <p th:text="${sighting.description}">A big fight!</p>
                        </div>
                    </td>
                    <td th:text="${sighting.description}"></td>
                    <td>
                        <span th:text="${sighting.heroes[0].name}" class="shortText">All Might</span>
                        <div class="longText selector">
                            <div th:each="hero : ${sighting.heroes}">
                                <p th:text="${hero.name}">All Might</p>
                            </div>
                        </div>
                    </td>
                    <td><a href="#" th:href="@{/editSighting(id=$sighting.id)}">Edit</a></td>
                </tr>
            </table>
        </div>
    </div> <!-- Close container -->
    <!-- End Main Body -->



    <!-- Footer Material -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/scripts/scripts.js"></script>
</body>

</html>
<!-- End footer -->