@font-face {
    font-family: 'komika_displayregular';
    src: url('Komika_display-webfont.eot');
    src: url('Komika_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('Komika_display-webfont.woff2') format('woff2'),
         url('Komika_display-webfont.woff') format('woff'),
         url('Komika_display-webfont.ttf') format('truetype'),
         url('Komika_display-webfont.svg#komika_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'komika_displayregular';
}

.container>*+* {
    margin-top: 1em;
}

h1 {
    margin-top: 1em;
}

.form {
    margin-top: 2em;
}

.selector {
    overflow: hidden; /* hide the element content, while height = 0 */
    height: 0; opacity: 0;
}
.selector.visible {
    height: 100%; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

/* Navbar vertical lines */
.navbar-nav>li+li {
    border-left: 2px solid rgba(255, 255, 255, .3);
    border-radius: 1px;
}

/* Remove vertical lines when collapsed */
@media (max-width: 992px) {
    .navbar-nav>li+li {
        border-left: none;
    }
}

/* Navbar vertical lines */
.navbar-nav>li+li {
    border-left: 2px solid rgba(255, 255, 255, .3);
    border-radius: 1px;
}

/* Remove vertical lines when collapsed */
@media (max-width: 988px) {
    .navbar-nav>li+li {
        border-left: none;
    }
}